

.board{
  background-color: rgb(247, 240, 240);
  width: calc(100vw - 100px);
  height: calc(100vw - 100px);
  margin-left: 40px;

  /* margin-left: -10px; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto ;
  position: relative;
}
header{
  display: flex;
  margin-left: 20px;
}
.game-obj{
  width: calc(100vw - 100px);
  height: calc(100vw - 100px);
  margin: 0 auto;
  position: absolute;
  margin-left: 40px;
  margin-top:76px;
  /* display: none; */
  top: 0;
}
.item img{
  width: calc((100vw- 100px)/3);
  height: calc((100vw - 100px)/3);
  border: 1px solid black;
  margin: 0;
  font-size: 50px;
}

.item:hover{
  background-color: white;
  cursor: pointer;
}.container{
  display: flex;
}
.blind-img{
  width: 50px;
  margin: 0 auto;
  margin-left: 155px;
  display: block;
}
.btns{
  width: calc(100vw - 100px);
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
.btns button{
  width: 100px;
  background-color: orange;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

@media only screen and (min-width: 768px){

  .blind-img{
    width: 50px;
    margin-left: 350px;
  }
}
@media only screen and (min-width: 1024px){

  .board{
    width: 600px;
    height: 600px;
  }
  .item img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0;
    font-size: 50px;
  }

.btns{
  width: 600px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
.game-obj{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: absolute;
  margin-left: 40px;
  margin-top:76px;
  /* display: none; */
  top: 0;
}
.blind-img{
  width: 50px;
  margin: 0 auto;
  margin-left: 320px;
  display: block;
}
}