

.board{
  background-color: rgb(247, 240, 240);
  width: calc(100vw - 100px);
  height: calc(100vw - 100px);
margin-left: 40px;

  /* margin-left: -10px; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto ;
  position: relative;
}
.game-obj{
  width: calc(100vw - 100px);
  height: calc(100vw - 100px);
  margin: 0 auto;
  position: absolute;
  margin-left: 40px;
  margin-top: 20px;
  /* display: none; */
  top: 0;
}
.item img{
  width: calc((100vw- 100px)/3);
  height: calc((100vw - 100px)/3);
  border: 1px solid black;
  margin: 0;
  font-size: 50px;
}

.item:hover{
  background-color: white;
  cursor: pointer;
}.container{
  display: flex;
}
.blind-img{
  width: 50px;
  margin: 0 auto;
  margin-left: 155px;
  display: block;
}

@media only screen and (max-width: 768px){

}